.controlButton {
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0.5rem;
    background-color: teal;
    color: white;
    border: none;
    box-shadow: 2px 2px 3px gray;
}
.controlButton:hover {
    cursor: pointer;
    filter: brightness(80%);
    scale: 1.05;
}

.controlButton:disabled {
    background-color: gray;
}

.controlButton:disabled:hover {
    cursor: not-allowed;
    scale: 1;
    filter: brightness(100%);
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    margin: 0 auto;
}
